@using EntityLayer.Concrete
@model List<FirinTakip.Dto.FaturaBilgileriDto>
@*@model List<Fatura>*@
<br />
<table class="table table-bordered ">
    <tr>
        <th>Müşteri Adı</th>
        <th>Tarih</th>
        <th>Ödeme Durumu</th>
        <th>Düzenle</th>
        <th>Sil</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.MusteriAdi</td>
            <td>@x.FaturaTarihi</td> 
            <td>@x.OdemeDurumu</td>
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>

        </tr>
    }

</table>
<br />


