@using EntityLayer.Concrete
@model List<Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>Tarih</th>
        <th>Ödeme Durumu</th>
        <th>Düzenle</th>
        <th>Sil</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.Tarih</td>
            <td>@x.OdemeDurumu</td>
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>

        </tr>
    }

</table>
<br />


