
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>İsim</th>
    </tr>
    @*@foreach(var item in Model)
        {
            <tr>
                <th>@item.ID</th>
                <th>@item.AD</th>
                <th>@item.</th>
            </tr>
        }*@

</table>
<br />

<a href="" class="btn btn-info">Ekle</a>
<a href="" class="btn btn-danger">Sil</a>
<a href="" class="btn btn-warning">Düzenle</a>
