@using EntityLayer.Concrete
@model List<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered ">
    <tr>
        <th>ID</th>
        <th>Urun İsmi</th>
        <th>Urun Etiket Adı</th>
        <th>Fiyat</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.ID</th>
            <th>@x.UrunAdi</th>
            <th>@x.UrunEtiket</th>
            <th>@x.Fiyat</th>
            <td><a href="#" class="btn btn-info">Düzenle</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }


</table>

<td><a href="/Urun/AddUrun" class="btn btn-success">Urun Ekle</a></td>
<br />
 