
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2 class="text-center display-3">Arama</h2>
<form action="enhanced-results.html">
    <div class="row">
        <div class="col-md-10 offset-md-1">

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="search" class="form-control form-control-lg" placeholder="Anahtar kelimelerinizi buraya yazın">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>Sıralama Düzeni:</label>
                        <select class="select2" style="width: 100%;">
                            <option selected>Artan</option>
                            <option>Azalan</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Sıralama Şekli</label>
                        <select class="select2" style="width: 100%;">
                            <option selected>Başlık</option>
                            <option>Tarih</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

